@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modal content */
.modal-content {
    position: relative;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 24rem;
    margin: auto;
    z-index: 1050; /* Ensure this is higher than other content */
}

/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040; /* Ensure this is higher than other content */
    display: flex;
    justify-content: center;
    align-items: center;
}
